*.aap
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/copyright
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/dictionaries
/.idea/kotlinc.xml
/.idea/libraries
/.idea/encodings.xml
/.idea/misc.xml
/.idea/gradle.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/jarRepositories.xml
/.idea/appInsightsSettings.xml
/.idea/migrations.xml
/.idea/compiler.xml
/.idea/other.xml
.DS_Store
/build
/captures
.externalNativeBuild
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
