*.iml
*.apk
.gradle
/local.properties
/.idea/caches
/.idea/copyright
/.idea/dictionaries
/.idea/misc.xml
/.idea/gradle.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
