<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.mm2d.dmsexplorer"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    -->

    <application
        android:name=".App"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/DarkTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        >
        <activity-alias
            android:name=".StartActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:targetActivity=".view.ServerListActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".view.ServerListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/DarkTheme.List"
            />
        <activity
            android:name=".view.ServerDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.ServerListActivity"
            android:theme="@style/DarkTheme.NoActionBar"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ServerListActivity"
                />
        </activity>
        <activity
            android:name=".view.ContentListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.ServerListActivity"
            android:theme="@style/DarkTheme.List"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ServerListActivity"
                />
        </activity>
        <activity
            android:name=".view.ContentDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.ContentListActivity"
            android:theme="@style/DarkTheme.NoActionBar"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ContentListActivity"
                />
        </activity>
        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.Settings"
            ></activity>
        <activity
            android:name=".view.MovieActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTask"
            android:parentActivityName=".view.ContentListActivity"
            android:supportsPictureInPicture="true"
            android:theme="@style/DarkTheme.FullScreen"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ContentListActivity"
                />
        </activity>
        <activity
            android:name=".view.PhotoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:parentActivityName=".view.ContentListActivity"
            android:theme="@style/DarkTheme.FullScreen"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ContentListActivity"
                />
        </activity>
        <activity
            android:name=".view.MusicActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:parentActivityName=".view.ContentListActivity"
            android:theme="@style/DarkTheme.NoActionBar"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ContentListActivity"
                />
        </activity>
        <activity
            android:name=".view.DmcActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".view.ContentListActivity"
            android:theme="@style/DarkTheme.NoActionBar.Dark"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ContentListActivity"
                />
        </activity>
        <activity
            android:name=".view.WebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/DarkTheme.NoActionBar"
            ></activity>

        <service
            android:name=".domain.tabs.KeepAliveService"
            android:exported="true"
            />
        <meta-data
            android:name="android.max_aspect"
            android:value="3"
            />
    </application>
</manifest>
