body {
  font-size: 9pt;
  font-family: Roboto, sans-serif;
  background-color:#eee;
  color: #222;
}
.license {
  padding: 0 1em;
  background-color:#fff;
  border: 1px solid #ddd;
  border-radius: 10px;
}
h1 {
  font-size: 12pt;
  color: #000;
}
h2 {
  font-size: 10pt;
  color: #000;
}
strong {
  color: #000;
}
hr {
  border: 1px solid #ccc;
  margin: 2em 0;
}
a {
  color: #35b;
}
